body {
  background-color: #bfbdb8;
}

h1 {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2a2b2a;
  text-align: center;
}

h2 {
  color: #264016;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

select {
  background-color: #657958;
  color: #fffcfc;
  font-size: 14px;
  padding: 6px;
  cursor: pointer;
}

#valorInicial {
  color: #6c7336;
  text-align: right;
  font-size: 14px;
  padding: 6px;
}

#valorFinal {
  color: #264016;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  padding: 6px;
}

button {
  background-color: #264016;
  color: #fffcfc;
  padding: 10px;
  border: 0px;
  align-self: flex-end;
  font-size: 14px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #657958;
  color: #fffcfc;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.campo {
  display: flex;
  flex-direction: column;
}
